<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UI.Wedding</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RSVP">
                <span class="oi oi-plus" aria-hidden="true"></span> RSVP
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BrideAndGroom">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About Bride and Groom
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BridalParty">
                <span class="oi oi-list-rich" aria-hidden="true"></span> The Bridal Party
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GiftRegistry">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Gift Registry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Info">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Info
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
